/* 基本装飾 */
header {
  background: #333;
  padding: .5rem;
  text-align: right;
}
a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
li {
  margin: 2rem 0;
}
 

  /* ボタン */
.btn-menu {
  position: relative
}
img{
    width:100px;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

img:hover{
    opacity:0.5
 
/* メニュー */
nav {
  background: #0bd;
  position: absolute;
  z-index: 0;
  top: 3.125rem;
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width: 100%;
}
